{% extends 'base.html.twig' %}
{% block body %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Shopping Cart</h2>
                <div class="page_link">
                    <a href={{ path('homepage') }}>Home</a>
                    <a href={{ path('cart') }}>Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for basket_position in basket_positions %}
                    <tr>
                        <td>
                            <div class="media">
                                <div class="d-flex">

                                </div>
                                <div class="media-body">
                                    <p>{{ basket_position.title }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>{{ basket_position.price }}</h5>
                        </td>
                        <td>
                            <div class="product_count">
                                <input type="text" name="qty" id="sst" maxlength="12" value={{ basket_position.quantity }} title="Quantity:" class="input-text qty">
                            </div>
                        </td>
                        <td>
                            <h5>{{ basket_position.price * basket_position.quantity }}</h5>
                        </td>
                        <td>
                            <p>
                                <a href="{{ path('remove', { id: basket_position.id }) }}">Remove</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="bottom_button">
                        <td>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5>{{ totalPrice }}</h5>
                        </td>
                    </tr>
                    <tr class="shipping_area">
                        <td>

                        </td>
                        <td>

                        </td>

                    </tr>
                    <tr class="out_button_area">
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="checkout_btn_inner">
                                <a class="gray_btn" href={{ path('catalog') }}>Continue Shopping</a>
                                <a class="main_btn" href={{ path('order') }}>Proceed to checkout</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}

