{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content row">
                    <div class="col-lg-4">
                        <h3> Online <br />garden!</h3>
                        <p> We bring to your attention the best online vegetable garden website</p>
                        <a class="white_bg_btn" href={{ path('catalog') }}>Plant catalog</a>
                    </div>
                    <div class="col-lg-7">
                        {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                        <button type="submit" class="main_btn">Register</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}