{% extends 'base.html.twig' %}
{% block body %}
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_product_img">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ asset('uploads/photos/' ~ catalog_unit.photofilename) }}" alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{ catalog_unit.title }}</h3>
                    <h2> {{ catalog_unit.price}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : Household</a></li>
                        <li><a href="#"><span>Availibility</span> : In Stock</a></li>
                    </ul>
                    <p>{{ catalog_unit.description }}</p>
                    {{ form_start(add_basket_form) }}
                    {{ form_row(add_basket_form.quantity) }}
                    <button type="submit" class="main_btn">Добавить в корзину</button>
                    {{ form_end(add_basket_form) }}

                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ path('homepage') }}js/jquery-3.2.1.min.js"></script>
<script src="{{ path('homepage') }}js/popper.js"></script>
<script src="{{ path('homepage') }}js/bootstrap.min.js"></script>
<script src="{{ path('homepage') }}js/stellar.js"></script>
<script src="{{ path('homepage') }}vendors/lightbox/simpleLightbox.min.js"></script>
<script src="{{ path('homepage') }}vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="{{ path('homepage') }}vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="{{ path('homepage') }}vendors/isotope/isotope-min.js"></script>
<script src="{{ path('homepage') }}vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="{{ path('homepage') }}js/jquery.ajaxchimp.min.js"></script>
<script src="{{ path('homepage') }}js/mail-script.js"></script>
<script src="{{ path('homepage') }}vendors/jquery-ui/jquery-ui.js"></script>
<script src="{{ path('homepage') }}vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="{{ path('homepage') }}vendors/counter-up/jquery.counterup.js"></script>
<script src="{{ path('homepage') }}js/theme.js"></script>
</body>
</html>
{% endblock %}