<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>ListAshop</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ path('homepage') }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ path('homepage') }}vendors/linericon/style.css">
        <link rel="stylesheet" href="{{ path('homepage') }}css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ path('homepage') }}vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="{{ path('homepage') }}vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="{{ path('homepage') }}vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="{{ path('homepage') }}vendors/animate-css/animate.css">
        <link rel="stylesheet" href="{{ path('homepage') }}vendors/jquery-ui/jquery-ui.css">
        <!-- main css -->
        <link rel="stylesheet" href="{{ path('homepage') }}css/style.css">
        <link rel="stylesheet" href="{{ path('homepage') }}css/responsive.css">
    </head>
    <body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="container">
                <div class="float-left">
                    <a href="mailto:support@colorlib.com">support@colorlib.com</a>
                    <a href="#">Welcome to Online garden</a>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href={{ path('homepage') }}><img src="{{ path('homepage') }}img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href={{ path('homepage') }}>Home</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href={{ path('catalog') }}>Catalog vegetables</a>
                                    <li class="nav-item"><a class="nav-link" href={{ path('beds') }}>rent of beds</a>
                                    <li class="nav-item"><a class="nav-link" href={{ path('order') }}>Product Checkout</a>
                                    <li class="nav-item"><a class="nav-link" href={{ path('cart') }}>Shopping Cart</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="login.html">Login</a>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href={{ path('contact') }}>Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href={{ path('cart') }} class="cart"><i class="lnr lnr lnr-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% block body %}{% endblock %}
    </body>
</html>
