{% extends 'base.html.twig' %}
{% block body %}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Product Checkout</h2>
                <div class="page_link">
                    <a href={{ path('homepage') }}>Home</a>
                    <a href={{ path('order') }}>Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Checkout Area =================-->
<section class="checkout_area p_120">
    <div class="container">
        {% if app.user == null  %}
        <div class="returning_customer">
            <div class="check_title">
                <h2>Returning Customer? <a href={{ path('app_login') }}>Click here to login</a></h2>
            </div>
        </div>
        {% else %}
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-12">
                    <div class="order_box">
                        <h2>Your Order</h2>

                        <ul class="list">
                            <li><a href="#">Product <span>Total</span></a></li>
                            {% for basket_position in basket_positions %}
                            <li><a href="#">{{ basket_position.title }} <span class="middle">{{ basket_position.quantity }}</span> <span class="last">{{ basket_position.price * basket_position.quantity }}</span></a></li>
                            {% endfor %}
                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Total <span>{{ totalPrice }}</span></a></li>
                        </ul>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="selector">
                                <label for="f-option5">Check payments</label>
                                <div class="check"></div>
                            </div>
                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="selector">
                                <label for="f-option6">Paypal </label>
                                <img src="img/product/single-product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                        </div>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="#">terms & conditions*</a>
                        </div>


                        {{ form_start(add_order_form) }}

                        <button type="submit" class="main_btn">Оплатить</button>
                        {{ form_end(add_order_form) }}


                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<!--================End Checkout Area =================-->
{% endblock %}