{% extends 'base.html.twig' %}
{% block body %}
<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="top_menu row m0">
        <div class="container">
            <div class="float-left">
                <a href="mailto:support@colorlib.com">support@colorlib.com</a>
                <a href="#">Welcome to Catalouge</a>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href={{ path('homepage') }}><img src="{{ path('homepage') }}img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item submenu dropdown active">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a>
                                <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a>
                                <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a>
                                <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                                <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="login.html">Login</a>
                                <li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a>
                                <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="#" class="cart"><i class="lnr lnr lnr-cart"></i></a></li>
                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_product_img">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ asset('uploads/photos/' ~ catalog_unit.photofilename) }}" alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{ catalog_unit.title }}</h3>
                    <h2> {{ catalog_unit.price}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : Household</a></li>
                        <li><a href="#"><span>Availibility</span> : In Stock</a></li>
                    </ul>
                    <p>{{ catalog_unit.description }}</p>

                    {{ form_start(add_basket_form) }}
                    <div class="product_count">
                        {{ form_row(add_basket_form.quantity) }}
                    <div class="card_area">
                        {{ form_widget(add_basket_form.submit, {'attr': {'class': 'main_btn'}}) }}
                        <a class="main_btn" href="#">Добавить в корзину</a>
                    </div>
                    {{ form_end(add_basket_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ path('homepage') }}js/jquery-3.2.1.min.js"></script>
<script src="{{ path('homepage') }}js/popper.js"></script>
<script src="{{ path('homepage') }}js/bootstrap.min.js"></script>
<script src="{{ path('homepage') }}js/stellar.js"></script>
<script src="{{ path('homepage') }}vendors/lightbox/simpleLightbox.min.js"></script>
<script src="{{ path('homepage') }}vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="{{ path('homepage') }}vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="{{ path('homepage') }}vendors/isotope/isotope-min.js"></script>
<script src="{{ path('homepage') }}vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="{{ path('homepage') }}js/jquery.ajaxchimp.min.js"></script>
<script src="{{ path('homepage') }}js/mail-script.js"></script>
<script src="{{ path('homepage') }}vendors/jquery-ui/jquery-ui.js"></script>
<script src="{{ path('homepage') }}vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="{{ path('homepage') }}vendors/counter-up/jquery.counterup.js"></script>
<script src="{{ path('homepage') }}js/theme.js"></script>
</body>
</html>
{% endblock %}